robotframework==7.2.2
robotframework-seleniumlibrary==6.7.1
robotframework-pabot==4.1.0
# git+ssh://git@stash.intcx.net:7999/itdev/snowlibrary.git@master#egg=robotframework-snowlibrary
simple-salesforce==1.12.5
robotframework-requests==0.9.7
# robotframework-databaselibrary==1.2.4
# PyMySQL==0.10.1
# robotframework-seleniumhelperlibrary==0.1.8
robotframework-sshlibrary==3.8.0
selenium==4.6.1
# robotframework-browser==19.4.0
